.cards {
  display: flex;
  flex-wrap: wrap;
  .card {
    cursor: default;
    display: flex;
    flex-direction: column;
    .cardTop {
      width: 100%;
      background-color: var(--gray-100);
      aspect-ratio: 1/1;
      border-radius: 32px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
      .card-overlay {
        position: absolute;
        width: 10%;
        height: 10%;
        background-color: rgba(0, 0, 0, 0.5);
        left: -10%;
        right: -10%;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        border-radius: 100%;
        .buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
        }
      }
      .category{
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 2;
        background-color: var(--secondary);
        color: var(--white);
        font-weight: 500;
        font-size: 14px;
        padding: 5px 15px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
      }
    }
    .cardBody {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px 20px 0;
      .cardTitle {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        color: var(--black);
      }
      .cardText {
        font-size: 16px;
        line-height: 25px;
        color: var(--black);
        font-weight: 500;
        padding-top: 10px;
      }
      .tags {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
        margin-top: auto;

        span {
          display: inline-block;
          padding: 2px 7px;
          font-size: 14px;
          background-color: var(--gray-100);
          color: var(--primary-500);
          font-weight: 500;
        }
      }
    }
    @media screen and (max-width: 991.98px) {
      .cardTop {
        .card-overlay {
          width: 120%;
          height: 200%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media screen and (min-width: 992px) {
      &:hover {
        .cardTop {
          .card-overlay {
            width: 120%;
            height: 200%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  &.half {
    gap: 48px 32px;
    .card {
      width: calc(50% - 16px);
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
  &.third {
    gap: 70px 40px;
    .card {
      width: calc(33.3% - 27px);
      @media screen and (max-width: 991.98px) {
        width: calc(50% - 20px);
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
