header {
  text-align: center;
  padding-top: 32px;
  transition: all 0.3s linear;
  background-color: var(--white);
  z-index: 99;
  position: relative;
  @media screen and (max-width: 991.98px) {
    height: 72px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 991.98px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .brand {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--black);
    font-weight: 900;
    margin-bottom: 40px;
    cursor: default;
    @media screen and (max-width: 991.98px) {
      margin-bottom: 0;
    }
  }
  .navbarButton {
    display: none;
    @media screen and (max-width: 991.98px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: var(--black);
      padding: 14px 10px;
      z-index: 9999;
      transition: all 0.3s linear;
      &:before,
      &:after {
        content: "";
        background-color: var(--white);
        height: 2px;
        border-radius: 2px;
        transition: all 0.3s linear;
        width: 100%;
        position: relative;
      }
      .line {
        background-color: var(--white);
        border-radius: 2px;
        width: 100%;
        height: 2px;
        transition: all 0.3s linear;
      }
      &.active {
        background: var(--white);
        right: 200px;
        position: absolute;
        top: 30px;
        justify-content: center;
        .line {
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
        }
        &:after {
          transform: rotate(45deg);
          background-color: var(--black);
          top: -2px;
        }
        &:before {
          background-color: var(--black);
          transform: rotate(-45deg);
          top: 2px;
        }
      }
    }
  }
  .otherMenu {
    position: absolute;
    right: 30px;
    top: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 991.98px) {
      position: relative;
      right: 0;
    }
  }
  &.light {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.8);
    padding-top: 0;
    height: 72px;

    .header {
      flex-direction: row;
      display: flex;
      align-items: center;
      height: 100%;
    }
    .brand {
      margin-bottom: 0;
    }
    .navbar {
      margin: 0 auto;
    }
    .otherMenu {
      position: relative;
      right: 0;
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.8);
    padding-top: 0;
    height: 72px;

    .header {
      display: flex;
      align-items: center;
      height: 100%;
      flex-direction: row;
    }
    .brand {
      margin-bottom: 0;
    }
    .navbar {
      margin: 0 auto;
    }
    .otherMenu {
      position: relative;
      right: 0;
    }
  }
}
.socialMedia {
  display: flex;
  align-items: center;
  gap: 20px;

  .customIcon {
    font-size: 26px;
  }
  a {
    transition: all 0.3s linear;
    @media screen and (min-width: 992px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.themeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  .customIcon {
    font-size: 24px;
    &:before {
      display: inline-flex;
      transition: transform 0.3s ease;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        &:before {
          transform: rotate(360deg);
        }
      }
    }
  }
  &.dark {
    .customIcon {
      &:before {
        content: "\e903";
        transform: rotate(90deg);
      }
    }
  }
}
