header{
    text-align: center;
    padding-top: 32px;
    .brand{
        font-family: "Plus Jakarta Sans", sans-serif;
        color: var(--black);
        font-weight: 900;
        margin-bottom: 40px;
    }
}