.navbar {
  display: inline-flex;
  @media screen and (max-width: 991.98px) {
    display: none;
    // position: fixed;
    // width: 100vw;
    // height: 100vh;
    // right: -100%;
    // z-index: 99;
    // top: 0;
    // left: auto;
    // background: rgba(0, 0, 0, 0.8);
    // transition: all .3s linear;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 80px;
    padding: 5px;
    background-color: var(--black);
    overflow: hidden;
    @media screen and (max-width: 991.98px) {
      flex-direction: column;
      width: 180px;
      background: var(--white);
      margin-left: auto;
      border-radius: 0;
      padding-top: 70px;
    }
    .navItem {
      display: flex;
      align-items: center;
      height: 46px;
      .navLink {
        color: var(--gray-500);
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 48px;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
        transition: all 0.3s linear;
        &.active {
          background-color: var(--white);
          color: var(--black);
        }
        @media screen and (min-width: 992px) {
          &:hover {
            background-color: var(--white);
            color: var(--black);
          }
        }
      }
    }
  }
  &.opened{
    @media screen and (max-width:991.98px) {
      right: 0;
    }
  }
}
