section,
.section {
  place-content: center;
  &:not(:first-child) {
    padding-block: 80px;
  }
  &.homeSection {
    height: calc(100vh - 150px);
    background-color: var(--white);
    position: relative;
    @media screen and (max-width: 991.98px) {
      height: auto;
      padding-top: 20px;
    }
    .container {
      position: relative;
      @media screen and (max-width: 991.98px) {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    h1 {
      font-size: 220px;
      line-height: 156px;
      letter-spacing: 9px;
      text-indent: 82px;
      text-align: center;
      @media screen and (max-width: 1600px) {
        font-size: 190px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 48px;
        line-height: 47px;
        letter-spacing: 9px;
        text-indent: 26px;
        text-align: center;
      }
    }
    .scrollDownButton {
      position: absolute;
      right: 0;
      @media screen and (max-width: 991.98px) {
        position: relative;
        margin-top: 15px;
        margin-left: auto;
      }
    }
    .sectionBottom {
      display: flex;
      margin-top: 14vh;
      @media screen and (max-width: 991.98px) {
        margin-top: 20px;
      }

      .shortText {
        margin-left: auto;
        max-width: 420px;
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
          width: 60%;
          padding-left: 20px;
        }
      }
      .contactMe {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
          font-weight: 500;
          font-size: 24px;
          @media screen and (max-width: 991.98px) {
            font-size: 20px;
          }
        }
        a {
          font-size: 20px;
          font-weight: 400;
          @media screen and (max-width: 991.98px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .sectionHead {
    .sectionTitle {
      font-size: 48px;
      line-height: 56px;
      color: var(--black);
      font-weight: 600;
      @media screen and (max-width: 991.98px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    p {
      color: var(--black);
      font-size: 20px;
      line-height: 27px;
      max-width: 400px;
      margin-top: 11px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
