/* Reset CSS */
/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

html, body {
  min-height: 100vh;
  background-color: #ffffff;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Forms */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Reset Image */
img {
  max-width: 100%;
  height: auto;
  overflow: clip;
  overflow-clip-margin: content-box;
}

/* Reset Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Misc */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Responsive Embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Clear Floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

:root {
  --primary: #141414;
  --primary-75: #dedede;
  --primary-100: #858585;
  --primary-200: #424242;
  --primary-300: #282828;
  --primary-400: #1f1e1e;
  --primary-500: #151414;
  --primary-600: #0a0909;
  --primary-700: #030303;
  --black: #000000;
  --white: #ffffff;
  --gray-50: #f9f9f9;
  --gray-100: #ededed;
  --gray-200: #525252;
  --gray-500: #c4c4c4;
  --success:#29AE29;
  --warning:#FFC62A;
  --error:#EF4444;
  --orange:#ED7615;
  --lavender:#6E3CF5;
  --sussie:#38E1F1;
  --blue:#0082FF;
}

.button-primary {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary:hover {
    background-color: var(--white) !important;
    color: var(--primary) !important;
  }
}

.button-primary-75 {
  background-color: var(--primary-75) !important;
  border: 1px solid var(--primary-75) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-75:hover {
    background-color: var(--white) !important;
    color: var(--primary-75) !important;
  }
}

.button-primary-100 {
  background-color: var(--primary-100) !important;
  border: 1px solid var(--primary-100) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-100:hover {
    background-color: var(--white) !important;
    color: var(--primary-100) !important;
  }
}

.button-primary-200 {
  background-color: var(--primary-200) !important;
  border: 1px solid var(--primary-200) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-200:hover {
    background-color: var(--white) !important;
    color: var(--primary-200) !important;
  }
}

.button-primary-300 {
  background-color: var(--primary-300) !important;
  border: 1px solid var(--primary-300) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-300:hover {
    background-color: var(--white) !important;
    color: var(--primary-300) !important;
  }
}

.button-primary-400 {
  background-color: var(--primary-400) !important;
  border: 1px solid var(--primary-400) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-400:hover {
    background-color: var(--white) !important;
    color: var(--primary-400) !important;
  }
}

.button-primary-500 {
  background-color: var(--primary-500) !important;
  border: 1px solid var(--primary-500) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-500:hover {
    background-color: var(--white) !important;
    color: var(--primary-500) !important;
  }
}

.button-primary-600 {
  background-color: var(--primary-600) !important;
  border: 1px solid var(--primary-600) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-600:hover {
    background-color: var(--white) !important;
    color: var(--primary-600) !important;
  }
}

.button-primary-700 {
  background-color: var(--primary-700) !important;
  border: 1px solid var(--primary-700) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-primary-700:hover {
    background-color: var(--white) !important;
    color: var(--primary-700) !important;
  }
}

.button-black {
  background-color: var(--black) !important;
  border: 1px solid var(--black) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-black:hover {
    background-color: var(--white) !important;
    color: var(--black) !important;
  }
}

.button-white {
  background-color: var(--whit) !important;
  border: 1px solid var(--whit) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-white:hover {
    background-color: var(--white) !important;
    color: var(--whit) !important;
  }
}

.button-gray-50 {
  background-color: var(--gray-50) !important;
  border: 1px solid var(--gray-50) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-gray-50:hover {
    background-color: var(--white) !important;
    color: var(--gray-50) !important;
  }
}

.button-gray-100 {
  background-color: var(--gray-100) !important;
  border: 1px solid var(--gray-100) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-gray-100:hover {
    background-color: var(--white) !important;
    color: var(--gray-100) !important;
  }
}

.button-gray-200 {
  background-color: var(--gray-200) !important;
  border: 1px solid var(--gray-200) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-gray-200:hover {
    background-color: var(--white) !important;
    color: var(--gray-200) !important;
  }
}

.button-gray-500 {
  background-color: var(--gray-500) !important;
  border: 1px solid var(--gray-500) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-gray-500:hover {
    background-color: var(--white) !important;
    color: var(--gray-500) !important;
  }
}

.button-success {
  background-color: var(--success) !important;
  border: 1px solid var(--success) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-success:hover {
    background-color: var(--white) !important;
    color: var(--success) !important;
  }
}

.button-warning {
  background-color: var(--warning) !important;
  border: 1px solid var(--warning) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-warning:hover {
    background-color: var(--white) !important;
    color: var(--warning) !important;
  }
}

.button-error {
  background-color: var(--error) !important;
  border: 1px solid var(--error) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-error:hover {
    background-color: var(--white) !important;
    color: var(--error) !important;
  }
}

.button-orange {
  background-color: var(--orange) !important;
  border: 1px solid var(--orange) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-orange:hover {
    background-color: var(--white) !important;
    color: var(--orange) !important;
  }
}

.button-lavender {
  background-color: var(--lavender) !important;
  border: 1px solid var(--lavender) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-lavender:hover {
    background-color: var(--white) !important;
    color: var(--lavender) !important;
  }
}

.button-sussie {
  background-color: var(--sussie) !important;
  border: 1px solid var(--sussie) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-sussie:hover {
    background-color: var(--white) !important;
    color: var(--sussie) !important;
  }
}

.button-blue {
  background-color: var(--blue) !important;
  border: 1px solid var(--blue) !important;
  color: var(--white) !important;
}
@media screen and (min-width: 992px) {
  .button-blue:hover {
    background-color: var(--white) !important;
    color: var(--blue) !important;
  }
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-75 {
  background-color: var(--primary-75);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--whit);
}

.bg-gray-50 {
  background-color: var(--gray-50);
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-gray-500 {
  background-color: var(--gray-500);
}

.bg-success {
  background-color: var(--success);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-error {
  background-color: var(--error);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-lavender {
  background-color: var(--lavender);
}

.bg-sussie {
  background-color: var(--sussie);
}

.bg-blue {
  background-color: var(--blue);
}

.container {
  max-width: 1276px;
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.fixBtn {
  padding: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--black);
  background-color: var(--gray-50);
  transition: all 0.3s linear;
  border: 1px solid var(--gray-50);
  border-radius: 60px;
  font-weight: 700;
}
@media screen and (max-width: 991.98px) {
  .fixBtn {
    padding: 0 8px;
    height: 40px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
  }
  .fixBtn img {
    height: 12px;
  }
}
@media screen and (min-width: 992px) {
  .fixBtn:hover {
    color: var(--gray-50);
    background-color: var(--black);
  }
  .fixBtn:hover img {
    filter: invert(1);
  }
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageWrapper img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.imageWrapper.cover img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: auto;
  max-height: auto;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 999;
}
.preloader .customIcon {
  font-size: 80px;
  position: relative;
  color: var(--secondary);
  color: #424141;
}
.preloader .customIcon:after {
  content: "\e907";
  font-family: "customFont" !important;
  font-size: 80px;
  color: var(--white);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  animation: animloader 10s ease-in infinite;
}
.preloader .loaderText {
  font-size: 80px;
  color: var(--white);
}
@media screen and (max-width: 991.98px) {
  .preloader .loaderText {
    font-size: 40px;
  }
}

@keyframes animloader {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
header {
  text-align: center;
  padding-top: 32px;
  transition: all 0.3s linear;
  background-color: var(--white);
}
@media screen and (max-width: 991.98px) {
  header {
    height: 72px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 991.98px) {
  header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header .brand {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--black);
  font-weight: 900;
  margin-bottom: 40px;
}
@media screen and (max-width: 991.98px) {
  header .brand {
    margin-bottom: 0;
  }
}
header .navbarButton {
  display: none;
}
@media screen and (max-width: 991.98px) {
  header .navbarButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--black);
    padding: 14px 10px;
    z-index: 9999;
    transition: all 0.3s linear;
  }
  header .navbarButton:before, header .navbarButton:after {
    content: "";
    background-color: var(--white);
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s linear;
    width: 100%;
    position: relative;
  }
  header .navbarButton .line {
    background-color: var(--white);
    border-radius: 2px;
    width: 100%;
    height: 2px;
    transition: all 0.3s linear;
  }
  header .navbarButton.active {
    background: var(--white);
    right: 200px;
    position: absolute;
    top: 30px;
    justify-content: center;
  }
  header .navbarButton.active .line {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  header .navbarButton.active:after {
    transform: rotate(45deg);
    background-color: var(--black);
    top: -2px;
  }
  header .navbarButton.active:before {
    background-color: var(--black);
    transform: rotate(-45deg);
    top: 2px;
  }
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.8);
  padding-top: 0;
  height: 72px;
}
header.fixed .header {
  display: flex;
  align-items: center;
  height: 100%;
}
header.fixed .brand {
  margin-bottom: 0;
}
header.fixed .navbar {
  margin-left: auto;
}

footer {
  padding-top: 80px;
  padding-bottom: 40px;
}
footer .footer {
  text-align: center;
  padding-bottom: 150px;
}
@media screen and (max-width: 991.98px) {
  footer .footer {
    padding-bottom: 20px;
  }
}
footer .footer h2 {
  font-size: 120px;
  line-height: 130px;
  font-weight: 600;
}
@media screen and (max-width: 1600px) {
  footer .footer h2 {
    font-size: 90px;
    line-height: 110px;
  }
}
@media screen and (max-width: 1440px) {
  footer .footer h2 {
    font-size: 70px;
    line-height: 80px;
  }
}
@media screen and (max-width: 991.98px) {
  footer .footer h2 {
    font-size: 48px;
    line-height: 54px;
  }
}
footer .footer .fixBtn {
  margin-top: 48px;
}
footer .footer .fixBtn img {
  filter: invert(1);
  transform: rotate(-125deg);
}
footer .footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
@media screen and (max-width: 991.98px) {
  footer .footerBottom {
    font-size: 14px;
  }
}
footer .socialMedia a {
  transition: all 0.3s linear;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  footer .socialMedia a:hover {
    color: var(--orange);
  }
}

.navbar {
  display: inline-flex;
}
@media screen and (max-width: 991.98px) {
  .navbar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: -100%;
    z-index: 99;
    top: 0;
    left: auto;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s linear;
  }
}
.navbar .nav {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 80px;
  padding: 5px;
  background-color: var(--black);
  overflow: hidden;
}
@media screen and (max-width: 991.98px) {
  .navbar .nav {
    flex-direction: column;
    width: 180px;
    background: var(--white);
    margin-left: auto;
    border-radius: 0;
    padding-top: 70px;
  }
}
.navbar .nav .navItem {
  display: flex;
  align-items: center;
  height: 46px;
}
.navbar .nav .navItem .navLink {
  color: var(--gray-500);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.3s linear;
}
.navbar .nav .navItem .navLink.active {
  background-color: var(--white);
  color: var(--black);
}
@media screen and (min-width: 992px) {
  .navbar .nav .navItem .navLink:hover {
    background-color: var(--white);
    color: var(--black);
  }
}
@media screen and (max-width: 991.98px) {
  .navbar.opened {
    right: 0;
  }
}

section,
.section {
  place-content: center;
}
section:not(:first-child),
.section:not(:first-child) {
  padding-block: 80px;
}
section.homeSection,
.section.homeSection {
  height: calc(100vh - 150px);
  background-color: var(--white);
  position: relative;
}
@media screen and (max-width: 991.98px) {
  section.homeSection,
  .section.homeSection {
    height: auto;
    padding-top: 20px;
  }
}
section.homeSection .container,
.section.homeSection .container {
  position: relative;
}
@media screen and (max-width: 991.98px) {
  section.homeSection .container,
  .section.homeSection .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
section.homeSection h1,
.section.homeSection h1 {
  font-size: 220px;
  line-height: 156px;
  letter-spacing: 9px;
  text-indent: 82px;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  section.homeSection h1,
  .section.homeSection h1 {
    font-size: 190px;
  }
}
@media screen and (max-width: 991.98px) {
  section.homeSection h1,
  .section.homeSection h1 {
    font-size: 48px;
    line-height: 47px;
    letter-spacing: 9px;
    text-indent: 26px;
    text-align: center;
  }
}
section.homeSection .scrollDownButton,
.section.homeSection .scrollDownButton {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 991.98px) {
  section.homeSection .scrollDownButton,
  .section.homeSection .scrollDownButton {
    position: relative;
    margin-top: 15px;
    margin-left: auto;
  }
}
section.homeSection .sectionBottom,
.section.homeSection .sectionBottom {
  display: flex;
  margin-top: 14vh;
}
@media screen and (max-width: 991.98px) {
  section.homeSection .sectionBottom,
  .section.homeSection .sectionBottom {
    margin-top: 20px;
  }
}
section.homeSection .sectionBottom .shortText,
.section.homeSection .sectionBottom .shortText {
  margin-left: auto;
  max-width: 420px;
}
@media screen and (max-width: 991.98px) {
  section.homeSection .sectionBottom .shortText,
  .section.homeSection .sectionBottom .shortText {
    font-size: 14px;
    width: 60%;
    padding-left: 20px;
  }
}
section.homeSection .sectionBottom .contactMe,
.section.homeSection .sectionBottom .contactMe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.homeSection .sectionBottom .contactMe span,
.section.homeSection .sectionBottom .contactMe span {
  font-weight: 500;
  font-size: 24px;
}
@media screen and (max-width: 991.98px) {
  section.homeSection .sectionBottom .contactMe span,
  .section.homeSection .sectionBottom .contactMe span {
    font-size: 20px;
  }
}
section.homeSection .sectionBottom .contactMe a,
.section.homeSection .sectionBottom .contactMe a {
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 991.98px) {
  section.homeSection .sectionBottom .contactMe a,
  .section.homeSection .sectionBottom .contactMe a {
    font-size: 14px;
  }
}
section .sectionHead,
.section .sectionHead {
  padding-bottom: 20px;
}
section .sectionHead .sectionTitle,
.section .sectionHead .sectionTitle {
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
  font-weight: 600;
}
@media screen and (max-width: 991.98px) {
  section .sectionHead .sectionTitle,
  .section .sectionHead .sectionTitle {
    font-size: 24px;
    line-height: 32px;
  }
}
section .sectionHead p,
.section .sectionHead p {
  color: var(--black);
  font-size: 20px;
  line-height: 27px;
  max-width: 400px;
  margin-top: 11px;
}
@media screen and (max-width: 991.98px) {
  section .sectionHead p,
  .section .sectionHead p {
    font-size: 14px;
    line-height: 21px;
  }
}
section .sectionContent,
.section .sectionContent {
  padding-top: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .cardTop {
  width: 100%;
  background-color: var(--gray-100);
  aspect-ratio: 1/1;
  border-radius: 32px;
  overflow: hidden;
}
.cards .cardBody {
  padding-top: 20px;
}
.cards .cardBody .cardTitle {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: var(--black);
}
.cards .cardBody .cardText {
  font-size: 20px;
  line-height: 27px;
  color: var(--black);
  font-weight: 500;
}
.cards.half {
  gap: 48px 32px;
}
.cards.half .card {
  width: calc(50% - 16px);
}
@media screen and (max-width: 576px) {
  .cards.half .card {
    width: 100%;
  }
}

.scroolingText {
  padding: 50px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
@media screen and (max-width: 991.98px) {
  .scroolingText {
    padding: 30px 0;
  }
}
.scroolingText ul {
  display: flex;
  align-items: center;
  gap: 80px;
  animation: scroll-left 15s linear infinite;
}
.scroolingText ul:hover {
  animation-play-state: paused;
  cursor: grab;
}
@media screen and (max-width: 991.98px) {
  .scroolingText ul {
    gap: 30px;
  }
}
.scroolingText ul li {
  font-size: 100px;
  line-height: 120px;
  color: var(--white);
}
@media screen and (max-width: 991.98px) {
  .scroolingText ul li {
    font-size: 42px;
    line-height: 56px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@media screen and (max-width: 991.98px) {
  body.opened .mainMobile {
    transition: all 0.3s linear;
    transform: translateX(-55px) translateY(-50%);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    height: 84vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: calc(100vw - 200px);
  }
}