@use "config/index" as config;
@use "components/index" as components;
@use "theme/index" as theme;
.main {
  position: relative;
  overflow-x: hidden;
}
body {
  &.opened {
    .mainMobile {
      @media screen and (max-width: 991.98px) {
        transition: all 0.3s linear;
        transform: translateX(-55px) translateY(-50%);
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
        border-radius: 60px;
        height: 84vh;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: calc(100vw - 200px);
      }
    }
  }
}
